{% load mod %}

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/board.css">
		<script src="js/closure-library-read-only/closure/goog/base.js"></script>
		<script>
			goog.require('goog.array');
			goog.require('goog.dom');
			goog.require('goog.fx.DragDrop');
			goog.require('goog.fx.DragDropGroup');
			goog.require('goog.net.XhrIo'); 
			goog.require("goog.structs.Map");
			goog.require("goog.Uri");
			goog.require("goog.Uri.QueryData");
		</script>
	</head>
	<body>
	{{ game_state }}
	<ol id="white-pieces" class="pieces">
		{% for insect in game_state.white_pieces %}
			<li id="{{ insect.name }}-{{ insect.color }}"><img src="/img/{{ insect.name }}_{{ insect.color }}.png"></li>
		{% endfor %}
	</ol>
	<div id="board-container">
		{% for row in game_state.board.rows %}
			<div class="row">
			{% for col in row %}
			{# FIXME: this is really gross with all the nested ifs. What to do? #}
				<span id="{{ col.id }}" class="hex {% if forloop.counter0|mod:2 %}offset{% endif %}{% if col.insects %} insect{% endif %}{% if not col.is_visible %} hidden{% endif %}">
					{% if col.insects %}
						<img src="/img/{{ col.insects.0.name }}_{{ col.insects.0.color }}.png" />
					{% else %}
						<img src="/img/hexagon.png" />
					{% endif %}
				</span>
			{% endfor %}
			</div>
		{% endfor %}
	</div>
	<ol id="black-pieces" class="pieces">
		{% for insect in game_state.black_pieces %}
			<li id="{{ insect.name }}-{{ insect.color }}"><img src="/img/{{ insect.name }}_{{ insect.color }}.png"></li>
		{% endfor %}
	</ol>
	</body>
	<script src="js/insects.js"></script>
</html>
